# Language Fundamentals:

1. Manipulate using a list.

To add new elements to the end of the list

To reverse elements in the list

To display the same list of elements multiple times.

To concatenate two list

To sort the elements in the list in ascending order.

In [3]:
# To Create a list
list = [1, 2, 3, 4, 5]

In [4]:
# To Add new elements to the end of the list
list.append(6)
list.append(7)

print(list)

[1, 2, 3, 4, 5, 6, 7]

In [5]:
# To Reverse the elements in the list
list.reverse()

print(list)

[7, 6, 5, 4, 3, 2, 1]

In [9]:
# To Display the same list of elements multiple times
for i in range(2):
  print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [7]:
# To Concatenate two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list = list1 + list2

print(list)

[1, 2, 3, 4, 5, 6]

In [8]:
# To Sort the elements in the list in ascending order
list.sort()

print(list)

[1, 2, 3, 4, 5, 6]

# 2. Write a Python program to do in the tuples.

Manipulate using tuples.

To add new elements to the end of the tuples

To reverse elements in the list

To display the elements of the same tuple multiple times. 

To concatenate two tuples

To sort the elements in the list in ascending order.

In [12]:
# Create a tuple
tuple = (1, 2, 3, 4, 5)
print(tuple)

(1, 2, 3, 4, 5)

In [ ]:
# To Add new elements to the end of the tuple
# This is not possible because tuples are immutable

In [13]:
# to Reverse the elements in the tuple
tuple = tuple[::-1]

print(tuple)

(5, 4, 3, 2, 1)

In [14]:
# To Display the elements of the same tuple multiple times
for i in range(2):
  print(tuple)

(5, 4, 3, 2, 1)
(5, 4, 3, 2, 1)

In [15]:
# To Concatenate two tuples
t1 = (1, 2, 3)
t2 = (4, 5, 6)

tuple = t1 + t2

print(tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
# To Sort the elements in the tuple in ascending order
# This is not possible because tuples are immutable

# 3.Write a python program to implement the following using list.

Create a list with integers (minimum 10 numbers)

How to display the last number in the list

Command for displaying the values from the list [0:4] 

Command for displaying the values from the list [2:]

Command for displaying the values from the list [:6]

In [22]:
# Create a list with integers
list = [1, 2, 3, 4, 5, 6, 7, 8,9,10,11,12]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [23]:
# Display the last number in the list
print(list[-1])

12

In [24]:
# Command for displaying the values from the list [0:4]
print(list[0:4])

[1, 2, 3, 4]

In [25]:
# Command for displaying the values from the list [2:]
print(list[2:])

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [26]:
# Command for displaying the values from the list [:6]
print(list[:6])

[1, 2, 3, 4, 5, 6]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)


To display the elements 10 and 50 from tuple1

To display the length of a tuple1..

To find the minimum element from tuple1.

To add all elements in the tuple1.

To display the same tuple1 multiple times..

In [27]:
tuple1 = (10, 50, 20, 40, 30)
print(tuple1)

(10, 50, 20, 40, 30)

In [33]:
# Display the elements 10 and 50 from tuple1
print(tuple1[0], tuple1[1])

10 50

In [29]:
# Display the length of a tuple1
print(len(tuple1))

5

In [30]:
# Find the minimum element from tuple1
print(min(tuple1))

10

In [31]:
# Add all elements in the tuple1
print(sum(tuple1))

150

In [32]:
# Display the same tuple1 multiple times
for i in range(3):
  print(tuple1)

(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)
(10, 50, 20, 40, 30)

# 5. Write a Python program:


To calculate the length of a string

To reverse words in a string

To display the same string multiple times

To concatenate two strings

Str1=" South India", using string slicing to display "India"

In [34]:

str1 = "South India"
print (str1)

South India

In [35]:
# Calculate the length of the string
print(len(str1))

11

In [36]:
# Reverse the words in the string
str2 = str1[::-1]
print(str2)

aidnI htuoS

In [38]:
# Display the same string multiple times
for i in range(2):
  print(str1)

South India
South India

In [39]:
# Concatenate two strings
str3 = str1 + " North India"
print(str3)

South India North India

In [41]:
# Using string slicing to display "India"
print(str1[6:])

India

# 6: Perform the following:

Creating the Dictionary.

Accessing values and keys in the Dictionary.

Updating the dictionary using a function.

Clear and delete the dictionary values.

In [42]:

# Create a dictionary
dict = {'name': 'John Doe', 'age': 30, 'country': 'India'}
print(dict)

{'name': 'John Doe', 'age': 30, 'country': 'India'}

In [43]:
# Access values and keys in the dictionary
print(dict['name'])    
print(dict['age'])    
print(dict['country'])

John Doe
30
India

In [47]:
# Update the dictionary using a function
def update_dict(dict, key, value):
  dict[key] = value

update_dict(dict, 'age', 31)
print(dict['age'])

{'age': 31}
31

In [45]:
# Clear and delete the dictionary values
dict.clear()

print(dict)

{}

In [49]:
#7. Python program to insert a number to any position in a list. 
# Create a list
list = [1, 2, 3, 4, 5]

# Inserting the number  at middle of the list
list.insert(4, 10)

print(list)

[1, 2, 3, 4, 10, 5]

In [50]:
# 8.Python program to delete an element from a list by index.
# Create a list
list = [1, 2, 3, 4, 5]

# Delete the element at the index 2
list.pop(2)

# Print the list
print(list)

[1, 2, 4, 5]

In [51]:
# 9.Write a program to display a number from 1 to 100.

for i in range(1, 101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [53]:
#10.Write a Python program to find the sum of all items in a tuple


tuple = (1, 2, 3, 4, 5,6)

sum = 0
for i in tuple:
  sum += i

print(sum)

21

# 11. Create a dictionary containing three lambda functions square, cube and square root.


E.g. dict('Square': function for squaring, 'Cube': function for cube, 'Squareroot": function for square root)

Pass the values (input from the user) to the functions in the dictionary respectively.

Then add the outputs of each function and print it.

In [57]:
# Create a dictionary
dict = {'Square': lambda x: x**2,
         'Cube': lambda x: x**3,
         'Squareroot': lambda x: x**(1/2)}

num = int(input("Enter a number: "))

square = dict['Square'](num)
cube = dict['Cube'](num)
sqrt = dict['Squareroot'](num)

print("The square of", num, "is", square)
print("The cube of", num, "is", cube)
print("The square root of", num, "is", sqrt)
sum=(square+cube+sqrt)
print("sum of three is" ,sum)

Enter a number: 12
The square of 12 is 144
The cube of 12 is 1728
The square root of 12 is 3.4641016151377544
sum of three is 1875.4641016151377

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.

Is=['hello', 'Dear', 'how', 'ARe', 'You']

In [63]:
# A list of words
Is = ['hello', 'Dear', 'how', 'ARe', 'You']

# Find the words from the list that have their second character in uppercase
for word in Is:
  if word[1].isupper():
    print(word)

ARe

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) Formula: wMoon = (wEarth GMoon) / GEarth

1.Weight of people in kg

WeightOnEarth ('John':45, 'Shelly':65, 'Marry':35)


2.Gravitational force on the Moon: 1.622 m/s2

GMoon = 1.622


3.Gravitational force on the Earth: 9.81 m/s2

GEarth = 9.81

In [65]:
# Weight of people in kg
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}

# Gravitational force on the Moon: 1.622 m/s²
GMoon = 1.622

# Gravitational force on the Earth: 9.81 m/s²
GEarth = 9.81

# how much they will weigh on the moon
w_moon = {name: (weight * GMoon) / GEarth for name, weight in WeightOnEarth.items()}

# Print the results
for name, weight in w_moon.items():
  print(f"{name} will weigh {weight} kg on the moon")

John will weigh 7.440366972477065 kg on the moon
Shelly will weigh 10.747196738022426 kg on the moon
Marry will weigh 5.786952089704383 kg on the moon

# Control Structures
    1.Write a python program to find the first N Prime numbers.

In [72]:

def is_prime(n):
  if n <= 1:
    return False
  for i in range(2, n):
    if n % i == 0:
      return False
  return True


def first_n_primes(n):
  primes = []
  for i in range(2, n + 1):
    if is_prime(i):
      primes.append(i)
  return primes


print(first_n_primes(10))

[2, 3, 5, 7]

# 2. Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

In [75]:

def calculate_salary():
  
  #Calculates and prints the salary of an employee.
  
  basic_salary = float(input("Enter the basic salary: "))
  hra = float(input("Enter the HRA: "))
  ta = float(input("Enter the TA: "))
  da = float(input("Enter the DA: "))

  gross_salary = basic_salary + hra + ta + da
  tax = gross_salary * 0.1
  net_salary = gross_salary - tax

  print("Gross salary:", gross_salary)
  print("Tax:", tax)
  print("Net salary:", net_salary)


calculate_salary()

Enter the basic salary: 30000
Enter the HRA: 3456
Enter the TA: 5647
Enter the DA: 88766
Gross salary: 127869.0
Tax: 12786.900000000001
Net salary: 115082.1

# 3. Write a python program to search for a string in the given list.

In [ ]:
def search_string_in_list(list, string):
  for item in list:
    if item == string:
      return True
  return False


list = ["Python", "Java", "C++", "JavaScript"]
string = "Python"

if search_string_in_list(list, string):
  print("The string is found in the list")
else:
  print("The string is not found in the list")

# 4. Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [82]:

def count_upper_lower_case(string):
  """
  Counts the number of upper-case and lower-case letters in a string.

  Args:
    string: The string to count the letters in.

  Returns:
    A tuple of the number of upper-case letters and the number of lower-case letters.
  """
  upper_case = 0
  lower_case = 0
  for char in string:
    if char.isupper():
      upper_case += 1
    elif char.islower():
      lower_case += 1
  return upper_case, lower_case


string = input("Enter a string: ")
upper_case, lower_case = count_upper_lower_case(string)
print("The number of upper-case letters is", upper_case)
print("The number of lower-case letters is", lower_case)

Enter a string: hi hello
The number of upper-case letters is 0
The number of lower-case letters is 7

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [1]:
def sum_odd_even_numbers(start, end):
 
  odd_sum = 0
  even_sum = 0
  for i in range(start, end + 1):
    if i % 2 == 1:
      odd_sum += i
    else:
      even_sum += i
  print("The sum of odd numbers is", odd_sum)
  print("The sum of even numbers is", even_sum)


start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))
sum_odd_even_numbers(start, end)

Enter the starting number: 2
Enter the ending number: 3
The sum of odd numbers is 3
The sum of even numbers is 2

# 6. Write a python Program to print the table of any number.

In [2]:

def print_table(number):
  
  for i in range(1, 11):
    print(number, "x", i, "=", number * i)

number = int(input("Enter a number: "))
print_table(number)

Enter a number: 25
25 x 1 = 25
25 x 2 = 50
25 x 3 = 75
25 x 4 = 100
25 x 5 = 125
25 x 6 = 150
25 x 7 = 175
25 x 8 = 200
25 x 9 = 225
25 x 10 = 250

# 7. Write a Python program to sum the first 10 prime numbers.

In [8]:
def sum_first_n_primes(n):
  
  primes = []
  sum_primes = 0
  for i in range(2, n + 1):
    if is_prime(i):
      primes.append(i)
      sum_primes += i
  return sum_primes


def is_prime(number):
  
  if number <= 1:
    return False
  for i in range(2, int(number ** 0.5) + 1):
    if number % i == 0:
      return False
  return True


print(sum_first_n_primes(10))

17

# 8. Write a python program to implement arithmetic operations using nested if statement.

In [1]:
def arithmetic_operations(a, b):
  
  if a > b:
    if a % b == 0:
      return a / b
    else:
      return a - b
  else:
    if a % b == 0:
      return a * b
    else:
      return a + b

print(arithmetic_operations(10, 5))

2.0

# 9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [3]:

def celsius_to_fahrenheit(celsius):
  fahrenheit = celsius * 9 / 5 + 32
  return fahrenheit

celsius = float(input("Enter the temperature in Celsius: "))
print("fahrenhait is",celsius_to_fahrenheit(celsius))

Enter the temperature in Celsius: 32
fahrenhait is 89.6

# 10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function

In [1]:

def find_max_min(list):
  
  max_number = list[0]
  min_number = list[0]
  for number in list:
    if number > max_number:
      max_number = number
    elif number < min_number:
      min_number = number
  return max_number, min_number


list = [10, 4, 2, 9, 7]
max_number, min_number = find_max_min(list)
print("The maximum number is", max_number)
print("The minimum number is", min_number)

The maximum number is 10
The minimum number is 2

# 11. Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

In [2]:
def number_of_seconds_in_month():
  seconds_in_day = 24 * 60 * 60
  number_of_days = 30
  number_of_seconds = seconds_in_day * number_of_days
  print("The number of seconds in a 30-day month is", number_of_seconds)


number_of_seconds_in_month()

The number of seconds in a 30-day month is 2592000

# 12. Write a program in python to print out the number of seconds in a year.

In [3]:
def number_of_seconds_in_year():

  seconds_in_day = 24 * 60 * 60
  number_of_days_in_year = 365
  number_of_seconds_in_year = seconds_in_day * number_of_days_in_year
  print("The number of seconds in a year is", number_of_seconds_in_year)


number_of_seconds_in_year()

The number of seconds in a year is 31536000

# 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [4]:
def time_to_travel_from_london_to_glasgow():

  speed_of_train = 150
  distance_to_glasgow = 414
  time_to_travel = distance_to_glasgow / speed_of_train
  print("The time it takes to travel from London to Glasgow is", time_to_travel, "hours")


time_to_travel_from_london_to_glasgow()

The time it takes to travel from London to Glasgow is 2.76 hours

# 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [5]:
days_in_each_school_year = 192
total_hours_spent_in_school = days_in_each_school_year * 6
print("The total hours that you spend in school from year 7 to year 11 is", total_hours_spent_in_school)

The total hours that you spend in school from year 7 to year 11 is 1152

# 15. If the age of Ram,Sam and Khan are input through the keyboard, write a python program to determine the eldest and youngest of the three.

In [6]:
def find_eldest_and_youngest(ram_age, sam_age, khan_age):
 
  eldest = ram_age
  youngest = ram_age
  if sam_age > eldest:
    eldest = sam_age
  elif sam_age < youngest:
    youngest = sam_age
  if khan_age > eldest:
    eldest = khan_age
  elif khan_age < youngest:
    youngest = khan_age
  return eldest, youngest


ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

eldest, youngest = find_eldest_and_youngest(ram_age, sam_age, khan_age)
print("The eldest is", eldest, "and the youngest is", youngest)

Enter Ram's age: 26
Enter Sam's age: 22
Enter Khan's age: 23
The eldest is 26 and the youngest is 22

# 16. Write a python program to rotate a list by right n times with and without slicing technique

In [12]:

def rotate_list_without_slicing(list, n):

  rotated_list = []
  for i in range(len(list) - n, len(list)):
    rotated_list.append(list[i])
  for i in range(0, len(list) - n):
    rotated_list.append(list[i])
  return rotated_list


list = [1, 2, 3, 4, 5]
print(rotate_list_without_slicing(list, 2))

[4, 5, 1, 2, 3]

# 17. Python program to print the patterns given below:

In [13]:
# Number Pattrn

def number_pattern(n):
 
  for i in range(1, n + 1):
    num = i
    for j in range(1, i + 1):
      print(num, end="")
      num = num * 10 + 1
    print()


number_pattern(5)

1
221
331311
4414114111
551511511151111

In [14]:
# Alphabet pattrn

def alphabet_pattern(n):
  
  for i in range(1, n + 1):
    for j in range(1, i + 1):
      letter = chr(ord("P") + i - 1)
      print(letter, end="")
    print()


alphabet_pattern(6)

P
QQ
RRR
SSSS
TTTTT
UUUUUU

In [18]:
# Diamond patrn

def diamond_pattern(n):
 
  for i in range(1, n + 1):
    num_spaces = n - i
    num_stars = 2 * i - 1
    for j in range(num_spaces):
      print(" ", end="")
    for j in range(num_stars):
      print("*", end="")
    print()
  for i in range(n - 1):
    num_spaces = n - i
    num_stars = 2 * i
    for j in range(num_spaces):
      print(" ", end="")
    for j in range(num_stars):
      print("*", end="")
    print()


diamond_pattern(5)

    *
   ***
  *****
 *******
*********

    **
   ****
  ******

In [16]:
# Star patrn

def star_pattern(n):
  for i in range(n):
    for j in range(i + 1):
      print("*", end="")
    print()


star_pattern(5)

*
**
***
****
*****